
.navbar {
  background-color: #333;
  color: white;
  position: relative;
}

.navbar-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navbar-brand {
  font-size: 1rem;
  text-transform: uppercase;
  color: azure;
}

.navbar-links {
  display: flex;
  gap: 1rem;
  
}

.navbar-links a {
  color: white;
  text-decoration: none;
  padding-right: 6rem;
  text-transform: uppercase;
}

.navbar-links a:hover{
    color: #0c9992;
    transition-duration: .6s;
}

.navbar-toggler {
  display: none;
  background: none;
  border: none;
  font-size: 1.5rem;
  color: white;
  cursor: pointer;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #333;
    padding: 1rem 0;
  }

  .navbar-links.active {
    display: flex;
  }

  .navbar-toggler {
    display: block;
  }
}
