/* General styles */
body {
  font-family: 'Arial', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #000000;
}



.container {
  padding: 2rem;
}

input {
  padding: 0.5rem;
  margin: 2rem 0;
  width: 100%;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.bookshelf {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 20px;
}




.book-card {

 
  padding: 1rem;
  margin: 1rem 0;
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 1px solid #f0f0f0;
  color: #ddd;
  border-radius: 8px;
  background-color: #212121;
}

.book-card h3 {
  margin: 0 0 0.5rem 0;
}

.book-card p {
  margin: 0 0 1rem 0;
}

.book-card button {
  background-color: #0e7664;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
  
}
.book-card:hover{
  background-color: #0c9992;
  transition-duration: .8s;
}

.book-card button:hover {
  background-color: #181818;
  transition-duration: .8s;
}

/* Responsive styles */
@media (max-width: 600px) {
  nav {
    flex-direction: column;
  }

  .book-card {
    margin: 0.5rem 0;
  }

  input {
    width: calc(100% - 1rem);
  
  }
}
